:root {
    --color-primary: #E9BCD9;
    --color-primary-light: #FBE5F3;
    --color-primary-dark: #D793BE;
    --color-light: #FCFCFC;
    --color-dark: #1E1919;
    --color-light-dark: #342E2E;
    --color-white: #FFFFFF;
    --color-error: #ff0000;
    --color-default: #EBEFF5;
    --font-primary: 'Montserrat', sans-serif;
    --fs-h1-bg: 4.25rem;
    --fs-h1-sm: 3.125rem;
    --fs-h1: 3.7rem;
    --fs-h2: 2.8rem;
    --fs-body: 1.6rem;
    --fs-body-small: 1rem;
    --fs-links: 1.2rem;
    --fs-button: 1.4rem;
    --fs-h1-mobile: 1.8rem;
    --fs-h2-mobile: 1.7rem;
    --fs-body-mobile: 1.3rem;
    --fs-button-mobile: 1.2rem;
    --border-dark: 1px solid var(--color-dark);
    --padding-desktop-bg: 6.25rem;
    --padding-desktop: 4.25rem;
    --padding-mobile: 2.5rem;
}