:root {
  --color-primary: #e9bcd9;
  --color-primary-light: #fbe5f3;
  --color-primary-dark: #d793be;
  --color-light: #fcfcfc;
  --color-dark: #1e1919;
  --color-light-dark: #342e2e;
  --color-white: #ffffff;
  --color-error: #ff0000;
  --color-default: #ebeff5;
  --font-primary: "Montserrat", sans-serif;
  --fs-h1-bg: 4.25rem;
  --fs-h1-sm: 3.125rem;
  --fs-h1: 3.7rem;
  --fs-h2: 2.8rem;
  --fs-body: 1.6rem;
  --fs-body-small: 1rem;
  --fs-links: 1.2rem;
  --fs-button: 1.4rem;
  --fs-h1-mobile: 1.8rem;
  --fs-h2-mobile: 1.7rem;
  --fs-body-mobile: 1.3rem;
  --fs-button-mobile: 1.2rem;
  --border-dark: 1px solid var(--color-dark);
  --padding-desktop-bg: 6.25rem;
  --padding-desktop: 4.25rem;
  --padding-mobile: 2.25rem;
}

.theme-blue {
  --color-primary: #a7c7e7;
  --color-primary-light: #caddf1;
  --color-primary-dark: #8aa9c9;
}

.theme-green {
  --color-primary: #a9d099;
  --color-primary-light: #cbe3c2;
  --color-primary-dark: #8daf7f;
}

.theme-orange {
  --color-primary: #ffd88c;
  --color-primary-light: #ffe8ba;
  --color-primary-dark: #e0ba70;
}
