.button {
    background-color: var(--color-primary);
    border-radius: 20px;
    border: var(--border-dark);
    font-size: var(--fs-button);
    padding: 1.125rem 2.75rem; 
    font-weight: 600;
    color: var(--color-dark);
    box-shadow: -4px 4px 0px -2px var(--color-dark);
    transition: 0.2s;
    cursor: pointer;
    margin-top: 20px;
}

.button:hover {
    box-shadow: -5px 5px 0px -2px var(--color-light);
    transform: translate(-2px, 2px);
}