.toggleButton {
  background-color: var(--color-txt);
  border-radius: 20px;
  border: var(--border-dark);
  font-size: var(--fs-links);
  padding: 0.125rem 0.75rem;
  color: var(--color-bg);
  box-shadow: -4px 4px 0px -2px var(--color-primary);
  transition: 0.2s;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;

  &:hover {
    box-shadow: -5px 5px 0px -2px var(--color-primary);
    transform: translate(-2px, 2px);
  }

  &.small {
    padding: 0.5rem;
    font-size: 1.5rem;
  }

  @media (max-width: 954px) {
    font-size: 0.875rem;
  }

  @media (max-width: 767px) {
    padding: 1.125rem;
    display: block;
    text-align: center;
    font-size: var(--fs-button-mobile);
  }
}
