.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    width: 85%;
    margin-bottom: 2rem;
    border: var(--border-dark);
    border-radius: 20px;
    box-shadow: 6px 6px 0 -1px var(--color-primary),6px 6px 0 var(--color-dark);

    & img {
        width: 100%;
        height: 100%;
    }

    & &__stack {
        list-style: none; 
        display: flex;
        gap: 1rem;
        padding: 0;
    }
    

    & &__links-container {
        display: flex;
        gap: 3rem;
        position: relative;
    }

    & &__link {
        &:first-child:hover {
            ~ .project__highlight {
                width: 100px;
            }
        }

        &:nth-child(2):hover {
            ~ .project__highlight {
                left:unset;
                right: 0;
                width: 100px;
            }
        }
    }

    @media (max-width: 767px) {

        & &__stack {
            flex-direction: column;
            align-items: center;
        }

        & &__links-container {
            gap: 2rem;
        }
    }
}
