.stack-item {
    padding: 4px 10px;
    background-color: var(--color-primary-light);
    border: var(--border-dark);
    font-size: 0.75rem;
    border-radius: 5px;
    text-transform: uppercase;
    transition: 0.3s;
}

