.theme {
    background-color: var(--color-white);
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 1;
    border-radius: 15px;
    gap: 0.5rem;
    padding: 0.5rem;
    border: var(--border-dark);
    right: 0;
    top: 85%;
    transform: translateY(-50%);

    & &__button {   
        width: 2rem;
        height: 2rem;
        background: #E9BCD9;
        border: var(--border-dark);
        border-radius: 25%;

        &--blue {
            background-color: #A7C7E7;
        }
        &--green {
            background-color: #A9D099;
        }
        &--orange {
            background-color: #FFD88C;
        }
    }

    @media (min-width: 1650px) {
        padding: 1rem;
        border-radius: 20px;
        & &__button {
            width: 2.5rem;
            height: 2.5rem;
        }
    }
      
    @media (max-width: 1340px) {
        padding: 0.5rem;
        & &__button {
            width: 2rem;
            height: 2rem;
        }
    }
    
    @media (max-width: 767px) {
        flex-direction: row;
        top: 29px;
        right: 57px;
        & &__button {
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}