.contact {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary-light);
  position: relative;
  padding-top: 0;
  align-items: end;
  z-index: -1;

  & &__container {
    padding-right: var(--padding-desktop-bg);
    text-align: end;
  }

  & p {
    font-size: 2.2rem;
    margin: 0;
  }

  & &__wave {
    position: absolute;
    transform: scaleX(-1);
    z-index: -1;
    bottom: 166px;
    left: 0;

    & path {
      fill: var(--color-primary-light);
    }
  }

  @media (min-width: 1800px) {
    padding-right: 10%;
  }

  @media (min-width: 2300px) {
    padding-right: 20%;
  }

  @media (max-width: 767px) {
    p {
      font-size: 1.5rem;
    }

    & &__container {
      padding-right: var(--padding-mobile);
      margin-right: 0;
      text-align: end;
    }

    & &__wave {
      bottom: 6.25rem;
    }
  }

  @media (max-width: 360px) {
    h2 {
      font-size: 1.5rem;
    }

    p {
      font-size: 1.3rem;
    }

    & &__wave {
      bottom: 5.625rem;
    }
  }
}
