.projects {
  padding: var(--padding-desktop-bg) 2rem var(--padding-desktop-bg) 2rem;

  & h2 {
    margin-left: 2.625rem;
  }

  & .swiper-pagination-bullet {
    background-color: var(--color-txt);
  }

  & .swiper-pagination-bullet-active {
    background-color: var(--color-primary-dark);
  }

  & .swiper-button-prev,
  & .swiper-button-next {
    visibility: hidden;
  }

  @media (max-width: 767px) {
    padding: var(--padding-mobile) 1rem;
  }
}
